In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv('CreditCardDataset.csv')

In [3]:
dataset

,Transaction ID,Date,Day of Week,Time,Type of Card,Entry Mode,Amount,Type of Transaction,Merchant Group,Country of Transaction,Shipping Address,Country of Residence,Gender,Age,Bank,Fraud
0,#3577 209,14-Oct-20,Wednesday,19,Visa,Tap,£5,POS,Entertainment,United Kingdom,United Kingdom,United Kingdom,M,25.2,RBS,0
1,#3039 221,14-Oct-20,Wednesday,17,MasterCard,PIN,£288,POS,Services,USA,USA,USA,F,49.6,Lloyds,0
2,#2694 780,14-Oct-20,Wednesday,14,Visa,Tap,£5,POS,Restaurant,India,India,India,F,42.2,Barclays,0
3,#2640 960,13-Oct-20,Tuesday,14,Visa,Tap,£28,POS,Entertainment,United Kingdom,India,United Kingdom,F,51.0,Barclays,0
4,#2771 031,13-Oct-20,Tuesday,23,Visa,CVC,£91,Online,Electronics,USA,USA,United Kingdom,M,38.0,Halifax,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,#3203 892,13-Oct-20,Tuesday,22,MasterCard,Tap,£15,POS,Electronics,United Kingdom,United Kingdom,United Kingdom,F,53.8,Halifax,0
99996,#3304 849,14-Oct-20,Wednesday,23,MasterCard,PIN,£7,ATM,Children,Russia,Russia,Russia,M,45.0,Barclays,0
99997,#3532 129,13-Oct-20,Tuesday,11,MasterCard,PIN,£21,ATM,Subscription,United Kingdom,United Kingdom,United Kingdom,F,46.5,HSBC,0
99998,#3107 092,14-Oct-20,Wednesday,22,Visa,Tap,£25,POS,Products,United Kingdom,United Kingdom,United Kingdom,M,48.2,Barclays,0
99999,#3400 711,14-Oct-20,Wednesday,16,Visa,PIN,£226,POS,Restaurant,United Kingdom,United Kingdom,United Kingdom,M,31.7,Monzo,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Transaction ID          100000 non-null  object
 1   Date                    100000 non-null  object
 2   Day of Week             100000 non-null  object
 3   Time                    100000 non-null  int64
 4   Type of Card            100000 non-null  object
 5   Entry Mode              100000 non-null  object
 6   Amount                  99994 non-null   object
 7   Type of Transaction     100000 non-null  object
 8   Merchant Group          99990 non-null   object
 9   Country of Transaction  100000 non-null  object
 10  Shipping Address        99995 non-null   object
 11  Country of Residence    100000 non-null  object
 12  Gender                  99996 non-null   object
 13  Age                     100000 non-null  float64
 14  Bank                    100000 non-null  object
 15  Fraud                   100000 non-null  int64
dtypes: float64(1), int64(2), object(13)
memory usage: 12.2+ MB

In [5]:
dataset=dataset.dropna(subset=['Amount'])

In [6]:
dataset=dataset.dropna(subset=['Merchant Group'])

In [7]:
dataset=dataset.dropna(subset=['Shipping Address'])

In [8]:
dataset=dataset.dropna(subset=['Gender'])

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99977 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Transaction ID          99977 non-null  object
 1   Date                    99977 non-null  object
 2   Day of Week             99977 non-null  object
 3   Time                    99977 non-null  int64
 4   Type of Card            99977 non-null  object
 5   Entry Mode              99977 non-null  object
 6   Amount                  99977 non-null  object
 7   Type of Transaction     99977 non-null  object
 8   Merchant Group          99977 non-null  object
 9   Country of Transaction  99977 non-null  object
 10  Shipping Address        99977 non-null  object
 11  Country of Residence    99977 non-null  object
 12  Gender                  99977 non-null  object
 13  Age                     99977 non-null  float64
 14  Bank                    99977 non-null  object
 15  Fraud                   99977 non-null  int64
dtypes: float64(1), int64(2), object(13)
memory usage: 13.0+ MB

In [10]:
# Identify columns for one-hot encoding
one_hot_columns = ['Type of Card', 'Entry Mode', 'Type of Transaction', 'Merchant Group', 
                   'Country of Transaction', 'Country of Residence', 'Gender', 'Bank','Shipping Address']

# Perform one-hot encoding
encoded_dataset = pd.get_dummies(dataset, columns=one_hot_columns)

In [11]:
encoded_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99977 entries, 0 to 99999
Data columns (total 50 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Transaction ID                         99977 non-null  object
 1   Date                                   99977 non-null  object
 2   Day of Week                            99977 non-null  object
 3   Time                                   99977 non-null  int64
 4   Amount                                 99977 non-null  object
 5   Age                                    99977 non-null  float64
 6   Fraud                                  99977 non-null  int64
 7   Type of Card_MasterCard                99977 non-null  bool
 8   Type of Card_Visa                      99977 non-null  bool
 9   Entry Mode_CVC                         99977 non-null  bool
 10  Entry Mode_PIN                         99977 non-null  bool
 11  Entry Mode_Tap                         99977 non-null  bool
 12  Type of Transaction_ATM                99977 non-null  bool
 13  Type of Transaction_Online             99977 non-null  bool
 14  Type of Transaction_POS                99977 non-null  bool
 15  Merchant Group_Children                99977 non-null  bool
 16  Merchant Group_Electronics             99977 non-null  bool
 17  Merchant Group_Entertainment           99977 non-null  bool
 18  Merchant Group_Fashion                 99977 non-null  bool
 19  Merchant Group_Food                    99977 non-null  bool
 20  Merchant Group_Gaming                  99977 non-null  bool
 21  Merchant Group_Products                99977 non-null  bool
 22  Merchant Group_Restaurant              99977 non-null  bool
 23  Merchant Group_Services                99977 non-null  bool
 24  Merchant Group_Subscription            99977 non-null  bool
 25  Country of Transaction_China           99977 non-null  bool
 26  Country of Transaction_India           99977 non-null  bool
 27  Country of Transaction_Russia          99977 non-null  bool
 28  Country of Transaction_USA             99977 non-null  bool
 29  Country of Transaction_United Kingdom  99977 non-null  bool
 30  Country of Residence_China             99977 non-null  bool
 31  Country of Residence_India             99977 non-null  bool
 32  Country of Residence_Russia            99977 non-null  bool
 33  Country of Residence_USA               99977 non-null  bool
 34  Country of Residence_United Kingdom    99977 non-null  bool
 35  Gender_F                               99977 non-null  bool
 36  Gender_M                               99977 non-null  bool
 37  Bank_Barclays                          99977 non-null  bool
 38  Bank_Barlcays                          99977 non-null  bool
 39  Bank_HSBC                              99977 non-null  bool
 40  Bank_Halifax                           99977 non-null  bool
 41  Bank_Lloyds                            99977 non-null  bool
 42  Bank_Metro                             99977 non-null  bool
 43  Bank_Monzo                             99977 non-null  bool
 44  Bank_RBS                               99977 non-null  bool
 45  Shipping Address_China                 99977 non-null  bool
 46  Shipping Address_India                 99977 non-null  bool
 47  Shipping Address_Russia                99977 non-null  bool
 48  Shipping Address_USA                   99977 non-null  bool
 49  Shipping Address_United Kingdom        99977 non-null  bool
dtypes: bool(43), float64(1), int64(2), object(4)
memory usage: 10.2+ MB

In [12]:
encoded_dataset

,Transaction ID,Date,Day of Week,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,...,Bank_Halifax,Bank_Lloyds,Bank_Metro,Bank_Monzo,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom
0,#3577 209,14-Oct-20,Wednesday,19,£5,25.2,0,False,True,False,...,False,False,False,False,True,False,False,False,False,True
1,#3039 221,14-Oct-20,Wednesday,17,£288,49.6,0,True,False,False,...,False,True,False,False,False,False,False,False,True,False
2,#2694 780,14-Oct-20,Wednesday,14,£5,42.2,0,False,True,False,...,False,False,False,False,False,False,True,False,False,False
3,#2640 960,13-Oct-20,Tuesday,14,£28,51.0,0,False,True,False,...,False,False,False,False,False,False,True,False,False,False
4,#2771 031,13-Oct-20,Tuesday,23,£91,38.0,1,False,True,True,...,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,#3203 892,13-Oct-20,Tuesday,22,£15,53.8,0,True,False,False,...,True,False,False,False,False,False,False,False,False,True
99996,#3304 849,14-Oct-20,Wednesday,23,£7,45.0,0,True,False,False,...,False,False,False,False,False,False,False,True,False,False
99997,#3532 129,13-Oct-20,Tuesday,11,£21,46.5,0,True,False,False,...,False,False,False,False,False,False,False,False,False,True
99998,#3107 092,14-Oct-20,Wednesday,22,£25,48.2,0,False,True,False,...,False,False,False,False,False,False,False,False,False,True
99999,#3400 711,14-Oct-20,Wednesday,16,£226,31.7,0,False,True,False,...,False,False,False,True,False,False,False,False,False,True

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
encoded_dataset['Day of week'] = le.fit_transform(encoded_dataset['Day of Week'])

encoded_dataset.drop('Day of Week', axis=1, inplace=True)

In [14]:
encoded_dataset

,Transaction ID,Date,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,...,Bank_Lloyds,Bank_Metro,Bank_Monzo,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week
0,#3577 209,14-Oct-20,19,£5,25.2,0,False,True,False,False,...,False,False,False,True,False,False,False,False,True,3
1,#3039 221,14-Oct-20,17,£288,49.6,0,True,False,False,True,...,True,False,False,False,False,False,False,True,False,3
2,#2694 780,14-Oct-20,14,£5,42.2,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,3
3,#2640 960,13-Oct-20,14,£28,51.0,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,2
4,#2771 031,13-Oct-20,23,£91,38.0,1,False,True,True,False,...,False,False,False,False,False,False,False,True,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,#3203 892,13-Oct-20,22,£15,53.8,0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,2
99996,#3304 849,14-Oct-20,23,£7,45.0,0,True,False,False,True,...,False,False,False,False,False,False,True,False,False,3
99997,#3532 129,13-Oct-20,11,£21,46.5,0,True,False,False,True,...,False,False,False,False,False,False,False,False,True,2
99998,#3107 092,14-Oct-20,22,£25,48.2,0,False,True,False,False,...,False,False,False,False,False,False,False,False,True,3
99999,#3400 711,14-Oct-20,16,£226,31.7,0,False,True,False,True,...,False,False,True,False,False,False,False,False,True,3

In [15]:
# Remove currency signs
encoded_dataset['Amount'] = encoded_dataset['Amount'].str.replace(r'[^\d.]', '', regex=True)

# Convert to numeric
encoded_dataset['Amount'] = pd.to_numeric(encoded_dataset['Amount'])

In [16]:
encoded_dataset

,Transaction ID,Date,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,...,Bank_Lloyds,Bank_Metro,Bank_Monzo,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week
0,#3577 209,14-Oct-20,19,5,25.2,0,False,True,False,False,...,False,False,False,True,False,False,False,False,True,3
1,#3039 221,14-Oct-20,17,288,49.6,0,True,False,False,True,...,True,False,False,False,False,False,False,True,False,3
2,#2694 780,14-Oct-20,14,5,42.2,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,3
3,#2640 960,13-Oct-20,14,28,51.0,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,2
4,#2771 031,13-Oct-20,23,91,38.0,1,False,True,True,False,...,False,False,False,False,False,False,False,True,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,#3203 892,13-Oct-20,22,15,53.8,0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,2
99996,#3304 849,14-Oct-20,23,7,45.0,0,True,False,False,True,...,False,False,False,False,False,False,True,False,False,3
99997,#3532 129,13-Oct-20,11,21,46.5,0,True,False,False,True,...,False,False,False,False,False,False,False,False,True,2
99998,#3107 092,14-Oct-20,22,25,48.2,0,False,True,False,False,...,False,False,False,False,False,False,False,False,True,3
99999,#3400 711,14-Oct-20,16,226,31.7,0,False,True,False,True,...,False,False,True,False,False,False,False,False,True,3

In [17]:
# Remove the '#' character from 'Transaction ID'
encoded_dataset['Transaction ID'] = encoded_dataset['Transaction ID'].str.replace('#', '')

In [18]:
encoded_dataset

,Transaction ID,Date,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,...,Bank_Lloyds,Bank_Metro,Bank_Monzo,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week
0,3577 209,14-Oct-20,19,5,25.2,0,False,True,False,False,...,False,False,False,True,False,False,False,False,True,3
1,3039 221,14-Oct-20,17,288,49.6,0,True,False,False,True,...,True,False,False,False,False,False,False,True,False,3
2,2694 780,14-Oct-20,14,5,42.2,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,3
3,2640 960,13-Oct-20,14,28,51.0,0,False,True,False,False,...,False,False,False,False,False,True,False,False,False,2
4,2771 031,13-Oct-20,23,91,38.0,1,False,True,True,False,...,False,False,False,False,False,False,False,True,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3203 892,13-Oct-20,22,15,53.8,0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,2
99996,3304 849,14-Oct-20,23,7,45.0,0,True,False,False,True,...,False,False,False,False,False,False,True,False,False,3
99997,3532 129,13-Oct-20,11,21,46.5,0,True,False,False,True,...,False,False,False,False,False,False,False,False,True,2
99998,3107 092,14-Oct-20,22,25,48.2,0,False,True,False,False,...,False,False,False,False,False,False,False,False,True,3
99999,3400 711,14-Oct-20,16,226,31.7,0,False,True,False,True,...,False,False,True,False,False,False,False,False,True,3

In [19]:
# Convert the 'Date' column to datetime format
encoded_dataset['Date'] = pd.to_datetime(encoded_dataset['Date'], format='%d-%b-%y')

# Extract day, month, and year into separate columns
encoded_dataset['Day'] = encoded_dataset['Date'].dt.day
encoded_dataset['Month'] = encoded_dataset['Date'].dt.month
encoded_dataset['Year'] = encoded_dataset['Date'].dt.year

encoded_dataset.drop('Date', axis=1, inplace=True)

In [20]:
encoded_dataset

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year
0,3577 209,19,5,25.2,0,False,True,False,False,True,...,True,False,False,False,False,True,3,14,10,2020
1,3039 221,17,288,49.6,0,True,False,False,True,False,...,False,False,False,False,True,False,3,14,10,2020
2,2694 780,14,5,42.2,0,False,True,False,False,True,...,False,False,True,False,False,False,3,14,10,2020
3,2640 960,14,28,51.0,0,False,True,False,False,True,...,False,False,True,False,False,False,2,13,10,2020
4,2771 031,23,91,38.0,1,False,True,True,False,False,...,False,False,False,False,True,False,2,13,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3203 892,22,15,53.8,0,True,False,False,False,True,...,False,False,False,False,False,True,2,13,10,2020
99996,3304 849,23,7,45.0,0,True,False,False,True,False,...,False,False,False,True,False,False,3,14,10,2020
99997,3532 129,11,21,46.5,0,True,False,False,True,False,...,False,False,False,False,False,True,2,13,10,2020
99998,3107 092,22,25,48.2,0,False,True,False,False,True,...,False,False,False,False,False,True,3,14,10,2020
99999,3400 711,16,226,31.7,0,False,True,False,True,False,...,False,False,False,False,False,True,3,14,10,2020

In [21]:
final_dataset=encoded_dataset

In [22]:
final_dataset

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year
0,3577 209,19,5,25.2,0,False,True,False,False,True,...,True,False,False,False,False,True,3,14,10,2020
1,3039 221,17,288,49.6,0,True,False,False,True,False,...,False,False,False,False,True,False,3,14,10,2020
2,2694 780,14,5,42.2,0,False,True,False,False,True,...,False,False,True,False,False,False,3,14,10,2020
3,2640 960,14,28,51.0,0,False,True,False,False,True,...,False,False,True,False,False,False,2,13,10,2020
4,2771 031,23,91,38.0,1,False,True,True,False,False,...,False,False,False,False,True,False,2,13,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3203 892,22,15,53.8,0,True,False,False,False,True,...,False,False,False,False,False,True,2,13,10,2020
99996,3304 849,23,7,45.0,0,True,False,False,True,False,...,False,False,False,True,False,False,3,14,10,2020
99997,3532 129,11,21,46.5,0,True,False,False,True,False,...,False,False,False,False,False,True,2,13,10,2020
99998,3107 092,22,25,48.2,0,False,True,False,False,True,...,False,False,False,False,False,True,3,14,10,2020
99999,3400 711,16,226,31.7,0,False,True,False,True,False,...,False,False,False,False,False,True,3,14,10,2020

In [23]:
final_dataset.reset_index(drop=True, inplace=True)

In [24]:
final_dataset

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year
0,3577 209,19,5,25.2,0,False,True,False,False,True,...,True,False,False,False,False,True,3,14,10,2020
1,3039 221,17,288,49.6,0,True,False,False,True,False,...,False,False,False,False,True,False,3,14,10,2020
2,2694 780,14,5,42.2,0,False,True,False,False,True,...,False,False,True,False,False,False,3,14,10,2020
3,2640 960,14,28,51.0,0,False,True,False,False,True,...,False,False,True,False,False,False,2,13,10,2020
4,2771 031,23,91,38.0,1,False,True,True,False,False,...,False,False,False,False,True,False,2,13,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99972,3203 892,22,15,53.8,0,True,False,False,False,True,...,False,False,False,False,False,True,2,13,10,2020
99973,3304 849,23,7,45.0,0,True,False,False,True,False,...,False,False,False,True,False,False,3,14,10,2020
99974,3532 129,11,21,46.5,0,True,False,False,True,False,...,False,False,False,False,False,True,2,13,10,2020
99975,3107 092,22,25,48.2,0,False,True,False,False,True,...,False,False,False,False,False,True,3,14,10,2020
99976,3400 711,16,226,31.7,0,False,True,False,True,False,...,False,False,False,False,False,True,3,14,10,2020

In [25]:
final_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99977 entries, 0 to 99976
Data columns (total 52 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Transaction ID                         99977 non-null  object
 1   Time                                   99977 non-null  int64
 2   Amount                                 99977 non-null  int64
 3   Age                                    99977 non-null  float64
 4   Fraud                                  99977 non-null  int64
 5   Type of Card_MasterCard                99977 non-null  bool
 6   Type of Card_Visa                      99977 non-null  bool
 7   Entry Mode_CVC                         99977 non-null  bool
 8   Entry Mode_PIN                         99977 non-null  bool
 9   Entry Mode_Tap                         99977 non-null  bool
 10  Type of Transaction_ATM                99977 non-null  bool
 11  Type of Transaction_Online             99977 non-null  bool
 12  Type of Transaction_POS                99977 non-null  bool
 13  Merchant Group_Children                99977 non-null  bool
 14  Merchant Group_Electronics             99977 non-null  bool
 15  Merchant Group_Entertainment           99977 non-null  bool
 16  Merchant Group_Fashion                 99977 non-null  bool
 17  Merchant Group_Food                    99977 non-null  bool
 18  Merchant Group_Gaming                  99977 non-null  bool
 19  Merchant Group_Products                99977 non-null  bool
 20  Merchant Group_Restaurant              99977 non-null  bool
 21  Merchant Group_Services                99977 non-null  bool
 22  Merchant Group_Subscription            99977 non-null  bool
 23  Country of Transaction_China           99977 non-null  bool
 24  Country of Transaction_India           99977 non-null  bool
 25  Country of Transaction_Russia          99977 non-null  bool
 26  Country of Transaction_USA             99977 non-null  bool
 27  Country of Transaction_United Kingdom  99977 non-null  bool
 28  Country of Residence_China             99977 non-null  bool
 29  Country of Residence_India             99977 non-null  bool
 30  Country of Residence_Russia            99977 non-null  bool
 31  Country of Residence_USA               99977 non-null  bool
 32  Country of Residence_United Kingdom    99977 non-null  bool
 33  Gender_F                               99977 non-null  bool
 34  Gender_M                               99977 non-null  bool
 35  Bank_Barclays                          99977 non-null  bool
 36  Bank_Barlcays                          99977 non-null  bool
 37  Bank_HSBC                              99977 non-null  bool
 38  Bank_Halifax                           99977 non-null  bool
 39  Bank_Lloyds                            99977 non-null  bool
 40  Bank_Metro                             99977 non-null  bool
 41  Bank_Monzo                             99977 non-null  bool
 42  Bank_RBS                               99977 non-null  bool
 43  Shipping Address_China                 99977 non-null  bool
 44  Shipping Address_India                 99977 non-null  bool
 45  Shipping Address_Russia                99977 non-null  bool
 46  Shipping Address_USA                   99977 non-null  bool
 47  Shipping Address_United Kingdom        99977 non-null  bool
 48  Day of week                            99977 non-null  int32
 49  Day                                    99977 non-null  int32
 50  Month                                  99977 non-null  int32
 51  Year                                   99977 non-null  int32
dtypes: bool(43), float64(1), int32(4), int64(3), object(1)
memory usage: 9.4+ MB

In [26]:
final_dataset.columns

Index(['Transaction ID', 'Time', 'Amount', 'Age', 'Fraud',
       'Type of Card_MasterCard', 'Type of Card_Visa', 'Entry Mode_CVC',
       'Entry Mode_PIN', 'Entry Mode_Tap', 'Type of Transaction_ATM',
       'Type of Transaction_Online', 'Type of Transaction_POS',
       'Merchant Group_Children', 'Merchant Group_Electronics',
       'Merchant Group_Entertainment', 'Merchant Group_Fashion',
       'Merchant Group_Food', 'Merchant Group_Gaming',
       'Merchant Group_Products', 'Merchant Group_Restaurant',
       'Merchant Group_Services', 'Merchant Group_Subscription',
       'Country of Transaction_China', 'Country of Transaction_India',
       'Country of Transaction_Russia', 'Country of Transaction_USA',
       'Country of Transaction_United Kingdom', 'Country of Residence_China',
       'Country of Residence_India', 'Country of Residence_Russia',
       'Country of Residence_USA', 'Country of Residence_United Kingdom',
       'Gender_F', 'Gender_M', 'Bank_Barclays', 'Bank_Barlcays', 'Bank_HSBC',
       'Bank_Halifax', 'Bank_Lloyds', 'Bank_Metro', 'Bank_Monzo', 'Bank_RBS',
       'Shipping Address_China', 'Shipping Address_India',
       'Shipping Address_Russia', 'Shipping Address_USA',
       'Shipping Address_United Kingdom', 'Day of week', 'Day', 'Month',
       'Year'],
      dtype='object')

In [27]:
boolean_columns = [
       'Type of Card_MasterCard', 'Type of Card_Visa', 'Entry Mode_CVC',
       'Entry Mode_PIN', 'Entry Mode_Tap', 'Type of Transaction_ATM',
       'Type of Transaction_Online', 'Type of Transaction_POS',
       'Merchant Group_Children', 'Merchant Group_Electronics',
       'Merchant Group_Entertainment', 'Merchant Group_Fashion',
       'Merchant Group_Food', 'Merchant Group_Gaming',
       'Merchant Group_Products', 'Merchant Group_Restaurant',
       'Merchant Group_Services', 'Merchant Group_Subscription',
       'Country of Transaction_China', 'Country of Transaction_India',
       'Country of Transaction_Russia', 'Country of Transaction_USA',
       'Country of Transaction_United Kingdom', 'Country of Residence_China',
       'Country of Residence_India', 'Country of Residence_Russia',
       'Country of Residence_USA', 'Country of Residence_United Kingdom',
       'Gender_F', 'Gender_M', 'Bank_Barclays', 'Bank_Barlcays', 'Bank_HSBC',
       'Bank_Halifax', 'Bank_Lloyds', 'Bank_Metro', 'Bank_Monzo', 'Bank_RBS',
       'Shipping Address_China', 'Shipping Address_India',
       'Shipping Address_Russia', 'Shipping Address_USA',
       'Shipping Address_United Kingdom',
]
final_dataset[boolean_columns] = final_dataset[boolean_columns].astype(int)

In [28]:
final_dataset

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Bank_RBS,Shipping Address_China,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year
0,3577 209,19,5,25.2,0,0,1,0,0,1,...,1,0,0,0,0,1,3,14,10,2020
1,3039 221,17,288,49.6,0,1,0,0,1,0,...,0,0,0,0,1,0,3,14,10,2020
2,2694 780,14,5,42.2,0,0,1,0,0,1,...,0,0,1,0,0,0,3,14,10,2020
3,2640 960,14,28,51.0,0,0,1,0,0,1,...,0,0,1,0,0,0,2,13,10,2020
4,2771 031,23,91,38.0,1,0,1,1,0,0,...,0,0,0,0,1,0,2,13,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99972,3203 892,22,15,53.8,0,1,0,0,0,1,...,0,0,0,0,0,1,2,13,10,2020
99973,3304 849,23,7,45.0,0,1,0,0,1,0,...,0,0,0,1,0,0,3,14,10,2020
99974,3532 129,11,21,46.5,0,1,0,0,1,0,...,0,0,0,0,0,1,2,13,10,2020
99975,3107 092,22,25,48.2,0,0,1,0,0,1,...,0,0,0,0,0,1,3,14,10,2020
99976,3400 711,16,226,31.7,0,0,1,0,1,0,...,0,0,0,0,0,1,3,14,10,2020

In [29]:
df = final_dataset

# Coordinates for each country
country_coordinates = {
    'China': (35.8617, 104.1954),
    'India': (20.5937, 78.9629),
    'Russia': (61.5240, 105.3188),
    'USA': (37.0902, -95.7129),
    'United Kingdom': (55.3781, -3.4360)
}

# Function to map binary columns back to country names
def get_country_from_columns(row, prefix):
    for col in df.columns:
        if col.startswith(prefix) and row[col] == 1:
            return col.split('_')[-1]
    return None

df['Country of Residence'] = df.apply(lambda x: get_country_from_columns(x, 'Country of Residence_'), axis=1)
df['Country of Transaction'] = df.apply(lambda x: get_country_from_columns(x, 'Country of Transaction_'), axis=1)

In [30]:
def haversine(coord1, coord2):
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    R = 6371  # Earth radius in km
    dlat = np.radians(lat2 - lat1)
    dlon = np.radians(lon2 - lon1)
    a = np.sin(dlat/2) ** 2 + np.cos(np.radians(lat1)) * np.cos(np.radians(lat2)) * np.sin(dlon/2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    return R * c

# Calculate Distance from Home
df['Distance from Home'] = df.apply(lambda x: haversine(country_coordinates[x['Country of Residence']], country_coordinates[x['Country of Transaction']]), axis=1)

In [31]:
# Calculate Previous Fraudulent Transactions
df['Previous Fraudulent Transactions'] = df.groupby('Country of Residence')['Fraud'].cumsum() - df['Fraud']

In [32]:
df.columns

Index(['Transaction ID', 'Time', 'Amount', 'Age', 'Fraud',
       'Type of Card_MasterCard', 'Type of Card_Visa', 'Entry Mode_CVC',
       'Entry Mode_PIN', 'Entry Mode_Tap', 'Type of Transaction_ATM',
       'Type of Transaction_Online', 'Type of Transaction_POS',
       'Merchant Group_Children', 'Merchant Group_Electronics',
       'Merchant Group_Entertainment', 'Merchant Group_Fashion',
       'Merchant Group_Food', 'Merchant Group_Gaming',
       'Merchant Group_Products', 'Merchant Group_Restaurant',
       'Merchant Group_Services', 'Merchant Group_Subscription',
       'Country of Transaction_China', 'Country of Transaction_India',
       'Country of Transaction_Russia', 'Country of Transaction_USA',
       'Country of Transaction_United Kingdom', 'Country of Residence_China',
       'Country of Residence_India', 'Country of Residence_Russia',
       'Country of Residence_USA', 'Country of Residence_United Kingdom',
       'Gender_F', 'Gender_M', 'Bank_Barclays', 'Bank_Barlcays', 'Bank_HSBC',
       'Bank_Halifax', 'Bank_Lloyds', 'Bank_Metro', 'Bank_Monzo', 'Bank_RBS',
       'Shipping Address_China', 'Shipping Address_India',
       'Shipping Address_Russia', 'Shipping Address_USA',
       'Shipping Address_United Kingdom', 'Day of week', 'Day', 'Month',
       'Year', 'Country of Residence', 'Country of Transaction',
       'Distance from Home', 'Previous Fraudulent Transactions'],
      dtype='object')

In [33]:
df.tail()

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Country of Residence,Country of Transaction,Distance from Home,Previous Fraudulent Transactions
99972,3203 892,22,15,53.8,0,1,0,0,0,1,...,0,1,2,13,10,2020,United Kingdom,United Kingdom,0.0,7066
99973,3304 849,23,7,45.0,0,1,0,0,1,0,...,0,0,3,14,10,2020,Russia,Russia,0.0,31
99974,3532 129,11,21,46.5,0,1,0,0,1,0,...,0,1,2,13,10,2020,United Kingdom,United Kingdom,0.0,7066
99975,3107 092,22,25,48.2,0,0,1,0,0,1,...,0,1,3,14,10,2020,United Kingdom,United Kingdom,0.0,7066
99976,3400 711,16,226,31.7,0,0,1,0,1,0,...,0,1,3,14,10,2020,United Kingdom,United Kingdom,0.0,7066

In [34]:
df=df.drop('Country of Residence', axis=1)

In [35]:
df

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Country of Transaction,Distance from Home,Previous Fraudulent Transactions
0,3577 209,19,5,25.2,0,0,1,0,0,1,...,0,0,1,3,14,10,2020,United Kingdom,0.000000,0
1,3039 221,17,288,49.6,0,1,0,0,1,0,...,0,1,0,3,14,10,2020,USA,0.000000,0
2,2694 780,14,5,42.2,0,0,1,0,0,1,...,0,0,0,3,14,10,2020,India,0.000000,0
3,2640 960,14,28,51.0,0,0,1,0,0,1,...,0,0,0,2,13,10,2020,United Kingdom,0.000000,0
4,2771 031,23,91,38.0,1,0,1,1,0,0,...,0,1,0,2,13,10,2020,USA,6830.403541,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99972,3203 892,22,15,53.8,0,1,0,0,0,1,...,0,0,1,2,13,10,2020,United Kingdom,0.000000,7066
99973,3304 849,23,7,45.0,0,1,0,0,1,0,...,1,0,0,3,14,10,2020,Russia,0.000000,31
99974,3532 129,11,21,46.5,0,1,0,0,1,0,...,0,0,1,2,13,10,2020,United Kingdom,0.000000,7066
99975,3107 092,22,25,48.2,0,0,1,0,0,1,...,0,0,1,3,14,10,2020,United Kingdom,0.000000,7066
99976,3400 711,16,226,31.7,0,0,1,0,1,0,...,0,0,1,3,14,10,2020,United Kingdom,0.000000,7066

In [36]:
df=df.drop('Previous Fraudulent Transactions',axis=1)

In [37]:
df

,Transaction ID,Time,Amount,Age,Fraud,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,...,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Country of Transaction,Distance from Home
0,3577 209,19,5,25.2,0,0,1,0,0,1,...,0,0,0,1,3,14,10,2020,United Kingdom,0.000000
1,3039 221,17,288,49.6,0,1,0,0,1,0,...,0,0,1,0,3,14,10,2020,USA,0.000000
2,2694 780,14,5,42.2,0,0,1,0,0,1,...,1,0,0,0,3,14,10,2020,India,0.000000
3,2640 960,14,28,51.0,0,0,1,0,0,1,...,1,0,0,0,2,13,10,2020,United Kingdom,0.000000
4,2771 031,23,91,38.0,1,0,1,1,0,0,...,0,0,1,0,2,13,10,2020,USA,6830.403541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99972,3203 892,22,15,53.8,0,1,0,0,0,1,...,0,0,0,1,2,13,10,2020,United Kingdom,0.000000
99973,3304 849,23,7,45.0,0,1,0,0,1,0,...,0,1,0,0,3,14,10,2020,Russia,0.000000
99974,3532 129,11,21,46.5,0,1,0,0,1,0,...,0,0,0,1,2,13,10,2020,United Kingdom,0.000000
99975,3107 092,22,25,48.2,0,0,1,0,0,1,...,0,0,0,1,3,14,10,2020,United Kingdom,0.000000
99976,3400 711,16,226,31.7,0,0,1,0,1,0,...,0,0,0,1,3,14,10,2020,United Kingdom,0.000000

In [38]:
target_column = 'Fraud'

# Move the target column to the end
columns = [col for col in df.columns if col != target_column] + [target_column]
df = df[columns]

In [39]:
df

,Transaction ID,Time,Amount,Age,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,Type of Transaction_ATM,...,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Country of Transaction,Distance from Home,Fraud
0,3577 209,19,5,25.2,0,1,0,0,1,0,...,0,0,1,3,14,10,2020,United Kingdom,0.000000,0
1,3039 221,17,288,49.6,1,0,0,1,0,0,...,0,1,0,3,14,10,2020,USA,0.000000,0
2,2694 780,14,5,42.2,0,1,0,0,1,0,...,0,0,0,3,14,10,2020,India,0.000000,0
3,2640 960,14,28,51.0,0,1,0,0,1,0,...,0,0,0,2,13,10,2020,United Kingdom,0.000000,0
4,2771 031,23,91,38.0,0,1,1,0,0,0,...,0,1,0,2,13,10,2020,USA,6830.403541,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99972,3203 892,22,15,53.8,1,0,0,0,1,0,...,0,0,1,2,13,10,2020,United Kingdom,0.000000,0
99973,3304 849,23,7,45.0,1,0,0,1,0,1,...,1,0,0,3,14,10,2020,Russia,0.000000,0
99974,3532 129,11,21,46.5,1,0,0,1,0,1,...,0,0,1,2,13,10,2020,United Kingdom,0.000000,0
99975,3107 092,22,25,48.2,0,1,0,0,1,0,...,0,0,1,3,14,10,2020,United Kingdom,0.000000,0
99976,3400 711,16,226,31.7,0,1,0,1,0,0,...,0,0,1,3,14,10,2020,United Kingdom,0.000000,0

In [40]:
df=df.drop('Country of Transaction',axis=1)

In [41]:
df

,Transaction ID,Time,Amount,Age,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,Type of Transaction_ATM,...,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Distance from Home,Fraud
0,3577 209,19,5,25.2,0,1,0,0,1,0,...,0,0,0,1,3,14,10,2020,0.000000,0
1,3039 221,17,288,49.6,1,0,0,1,0,0,...,0,0,1,0,3,14,10,2020,0.000000,0
2,2694 780,14,5,42.2,0,1,0,0,1,0,...,1,0,0,0,3,14,10,2020,0.000000,0
3,2640 960,14,28,51.0,0,1,0,0,1,0,...,1,0,0,0,2,13,10,2020,0.000000,0
4,2771 031,23,91,38.0,0,1,1,0,0,0,...,0,0,1,0,2,13,10,2020,6830.403541,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99972,3203 892,22,15,53.8,1,0,0,0,1,0,...,0,0,0,1,2,13,10,2020,0.000000,0
99973,3304 849,23,7,45.0,1,0,0,1,0,1,...,0,1,0,0,3,14,10,2020,0.000000,0
99974,3532 129,11,21,46.5,1,0,0,1,0,1,...,0,0,0,1,2,13,10,2020,0.000000,0
99975,3107 092,22,25,48.2,0,1,0,0,1,0,...,0,0,0,1,3,14,10,2020,0.000000,0
99976,3400 711,16,226,31.7,0,1,0,1,0,0,...,0,0,0,1,3,14,10,2020,0.000000,0

In [42]:
for column in df.columns:
    if df[column].dtype == 'object':  # Check if column type is object (string)
        df[column] = df[column].str.replace(' ', '')  # Remove spaces
        df[column] = pd.to_numeric(df[column], errors='coerce')  # Convert to numeric

In [43]:
df

,Transaction ID,Time,Amount,Age,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,Type of Transaction_ATM,...,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Distance from Home,Fraud
0,3577209,19,5,25.2,0,1,0,0,1,0,...,0,0,0,1,3,14,10,2020,0.000000,0
1,3039221,17,288,49.6,1,0,0,1,0,0,...,0,0,1,0,3,14,10,2020,0.000000,0
2,2694780,14,5,42.2,0,1,0,0,1,0,...,1,0,0,0,3,14,10,2020,0.000000,0
3,2640960,14,28,51.0,0,1,0,0,1,0,...,1,0,0,0,2,13,10,2020,0.000000,0
4,2771031,23,91,38.0,0,1,1,0,0,0,...,0,0,1,0,2,13,10,2020,6830.403541,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99972,3203892,22,15,53.8,1,0,0,0,1,0,...,0,0,0,1,2,13,10,2020,0.000000,0
99973,3304849,23,7,45.0,1,0,0,1,0,1,...,0,1,0,0,3,14,10,2020,0.000000,0
99974,3532129,11,21,46.5,1,0,0,1,0,1,...,0,0,0,1,2,13,10,2020,0.000000,0
99975,3107092,22,25,48.2,0,1,0,0,1,0,...,0,0,0,1,3,14,10,2020,0.000000,0
99976,3400711,16,226,31.7,0,1,0,1,0,0,...,0,0,0,1,3,14,10,2020,0.000000,0

In [44]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\developer mode\appdata\local\programs\python\python312\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\developer mode\appdata\local\programs\python\python312\lib\site-packages (from imblearn) (0.12.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\developer mode\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\developer mode\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (1.14.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\developer mode\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (1.5.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\developer mode\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\developer mode\appdata\local\programs\python\python312\lib\site-packages (from imbalanced-learn->imblearn) (3.5.0)

In [45]:
import pandas as pd
from imblearn.over_sampling import SMOTE

# Assuming your DataFrame is named df and your target variable is 'Heart Disease'
# Separate input features and target
X = df.drop('Fraud', axis=1)
y = df['Fraud']

# Define the SMOTE sampler
smote = SMOTE(random_state=42)

# Apply SMOTE to the data
X_res, y_res = smote.fit_resample(X, y)

# Combine the resampled data back into a DataFrame
df_resampled = pd.DataFrame(X_res, columns=X.columns)
df_resampled['Fraud'] = y_res

# Display the resampled DataFrame
print(df_resampled)

        Transaction ID  Time  Amount        Age  Type of Card_MasterCard  \
0              3577209    19       5  25.200000                        0
1              3039221    17     288  49.600000                        1
2              2694780    14       5  42.200000                        0
3              2640960    14      28  51.000000                        0
4              2771031    23      91  38.000000                        0
...                ...   ...     ...        ...                      ...
185565         3518297    16      14  51.588713                        0
185566         3001948    15      17  41.397438                        0
185567         3115895     9      14  29.818190                        0
185568         3135057     4     123  36.576454                        0
185569         3465409     3      17  19.191961                        0

        Type of Card_Visa  Entry Mode_CVC  Entry Mode_PIN  Entry Mode_Tap  \
0                       1               0               0               1
1                       0               0               1               0
2                       1               0               0               1
3                       1               0               0               1
4                       1               1               0               0
...                   ...             ...             ...             ...
185565                  1               1               0               0
185566                  1               1               0               0
185567                  1               0               0               0
185568                  0               0               0               0
185569                  1               0               0               0

        Type of Transaction_ATM  ...  Shipping Address_India  \
0                             0  ...                       0
1                             0  ...                       0
2                             0  ...                       1
3                             0  ...                       1
4                             0  ...                       0
...                         ...  ...                     ...
185565                        0  ...                       0
185566                        0  ...                       0
185567                        0  ...                       0
185568                        0  ...                       0
185569                        0  ...                       1

        Shipping Address_Russia  Shipping Address_USA  \
0                             0                     0
1                             0                     1
2                             0                     0
3                             0                     0
4                             0                     1
...                         ...                   ...
185565                        1                     0
185566                        0                     0
185567                        0                     0
185568                        0                     0
185569                        0                     0

        Shipping Address_United Kingdom  Day of week  Day  Month  Year  \
0                                     1            3   14     10  2020
1                                     0            3   14     10  2020
2                                     0            3   14     10  2020
3                                     0            2   13     10  2020
4                                     0            2   13     10  2020
...                                 ...          ...  ...    ...   ...
185565                                0            2   13     10  2020
185566                                0            3   14     10  2020
185567                                0            3   14     10  2020
185568                                0            2   13     10  2020
185569                                0            2   13     10  2020

        Distance from Home  Fraud
0                 0.000000      0
1                 0.000000      0
2                 0.000000      0
3                 0.000000      0
4              6830.403541      1
...                    ...    ...
185565         5613.818821      1
185566            0.000000      1
185567            0.000000      1
185568         7690.177163      1
185569         7662.650357      1

[185570 rows x 53 columns]

In [46]:
df_resampled

,Transaction ID,Time,Amount,Age,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,Type of Transaction_ATM,...,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Distance from Home,Fraud
0,3577209,19,5,25.200000,0,1,0,0,1,0,...,0,0,0,1,3,14,10,2020,0.000000,0
1,3039221,17,288,49.600000,1,0,0,1,0,0,...,0,0,1,0,3,14,10,2020,0.000000,0
2,2694780,14,5,42.200000,0,1,0,0,1,0,...,1,0,0,0,3,14,10,2020,0.000000,0
3,2640960,14,28,51.000000,0,1,0,0,1,0,...,1,0,0,0,2,13,10,2020,0.000000,0
4,2771031,23,91,38.000000,0,1,1,0,0,0,...,0,0,1,0,2,13,10,2020,6830.403541,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185565,3518297,16,14,51.588713,0,1,1,0,0,0,...,0,1,0,0,2,13,10,2020,5613.818821,1
185566,3001948,15,17,41.397438,0,1,1,0,0,0,...,0,0,0,0,3,14,10,2020,0.000000,1
185567,3115895,9,14,29.818190,0,1,0,0,0,0,...,0,0,0,0,3,14,10,2020,0.000000,1
185568,3135057,4,123,36.576454,0,0,0,0,0,0,...,0,0,0,0,2,13,10,2020,7690.177163,1
185569,3465409,3,17,19.191961,0,1,0,0,0,0,...,1,0,0,0,2,13,10,2020,7662.650357,1

In [47]:
target_distribution = df_resampled['Fraud'].value_counts()

# Print the distribution
print("Target Variable Distribution:")
print(target_distribution)

Target Variable Distribution:
Fraud
0    92785
1    92785
Name: count, dtype: int64

In [48]:
df_resampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185570 entries, 0 to 185569
Data columns (total 53 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Transaction ID                         185570 non-null  int64
 1   Time                                   185570 non-null  int64
 2   Amount                                 185570 non-null  int64
 3   Age                                    185570 non-null  float64
 4   Type of Card_MasterCard                185570 non-null  int32
 5   Type of Card_Visa                      185570 non-null  int32
 6   Entry Mode_CVC                         185570 non-null  int32
 7   Entry Mode_PIN                         185570 non-null  int32
 8   Entry Mode_Tap                         185570 non-null  int32
 9   Type of Transaction_ATM                185570 non-null  int32
 10  Type of Transaction_Online             185570 non-null  int32
 11  Type of Transaction_POS                185570 non-null  int32
 12  Merchant Group_Children                185570 non-null  int32
 13  Merchant Group_Electronics             185570 non-null  int32
 14  Merchant Group_Entertainment           185570 non-null  int32
 15  Merchant Group_Fashion                 185570 non-null  int32
 16  Merchant Group_Food                    185570 non-null  int32
 17  Merchant Group_Gaming                  185570 non-null  int32
 18  Merchant Group_Products                185570 non-null  int32
 19  Merchant Group_Restaurant              185570 non-null  int32
 20  Merchant Group_Services                185570 non-null  int32
 21  Merchant Group_Subscription            185570 non-null  int32
 22  Country of Transaction_China           185570 non-null  int32
 23  Country of Transaction_India           185570 non-null  int32
 24  Country of Transaction_Russia          185570 non-null  int32
 25  Country of Transaction_USA             185570 non-null  int32
 26  Country of Transaction_United Kingdom  185570 non-null  int32
 27  Country of Residence_China             185570 non-null  int32
 28  Country of Residence_India             185570 non-null  int32
 29  Country of Residence_Russia            185570 non-null  int32
 30  Country of Residence_USA               185570 non-null  int32
 31  Country of Residence_United Kingdom    185570 non-null  int32
 32  Gender_F                               185570 non-null  int32
 33  Gender_M                               185570 non-null  int32
 34  Bank_Barclays                          185570 non-null  int32
 35  Bank_Barlcays                          185570 non-null  int32
 36  Bank_HSBC                              185570 non-null  int32
 37  Bank_Halifax                           185570 non-null  int32
 38  Bank_Lloyds                            185570 non-null  int32
 39  Bank_Metro                             185570 non-null  int32
 40  Bank_Monzo                             185570 non-null  int32
 41  Bank_RBS                               185570 non-null  int32
 42  Shipping Address_China                 185570 non-null  int32
 43  Shipping Address_India                 185570 non-null  int32
 44  Shipping Address_Russia                185570 non-null  int32
 45  Shipping Address_USA                   185570 non-null  int32
 46  Shipping Address_United Kingdom        185570 non-null  int32
 47  Day of week                            185570 non-null  int32
 48  Day                                    185570 non-null  int32
 49  Month                                  185570 non-null  int32
 50  Year                                   185570 non-null  int32
 51  Distance from Home                     185570 non-null  float64
 52  Fraud                                  185570 non-null  int64
dtypes: float64(2), int32(47), int64(4)
memory usage: 41.8 MB

In [49]:
df_resampled.to_csv('Cleaneddataset.csv')

In [50]:
# Create a subset of your DataFrame
subset = df_resampled.sample(n=60000, random_state=42)  # Sample 3 random rows from df

# Display the subset
print("Subset of DataFrame:")
print(subset)

Subset of DataFrame:
        Transaction ID  Time  Amount        Age  Type of Card_MasterCard  \
88894          3007941    10     383  56.000000                        0
100994         3194765     9      27  34.708286                        0
148760         3377489    14      15  56.050474                        1
81724          3020708    20     326  37.700000                        0
167595         3044911    14      21  37.949881                        0
...                ...   ...     ...        ...                      ...
115966         3116032     8      10  39.409939                        0
78163          2598397    17     177  36.900000                        0
139311         2922513     3      21  55.490979                        0
385            2833001    23      30  50.400000                        1
66109          3429620    23     136  35.400000                        1

        Type of Card_Visa  Entry Mode_CVC  Entry Mode_PIN  Entry Mode_Tap  \
88894                   1               1               0               0
100994                  0               0               0               0
148760                  0               0               0               1
81724                   1               1               0               0
167595                  1               1               0               0
...                   ...             ...             ...             ...
115966                  0               0               0               1
78163                   1               0               1               0
139311                  0               0               0               1
385                     0               0               0               1
66109                   0               0               1               0

        Type of Transaction_ATM  ...  Shipping Address_India  \
88894                         0  ...                       0
100994                        0  ...                       0
148760                        0  ...                       0
81724                         0  ...                       0
167595                        0  ...                       0
...                         ...  ...                     ...
115966                        0  ...                       0
78163                         1  ...                       0
139311                        0  ...                       0
385                           0  ...                       0
66109                         1  ...                       0

        Shipping Address_Russia  Shipping Address_USA  \
88894                         0                     0
100994                        0                     0
148760                        0                     0
81724                         0                     0
167595                        0                     0
...                         ...                   ...
115966                        0                     0
78163                         0                     0
139311                        0                     0
385                           0                     0
66109                         1                     0

        Shipping Address_United Kingdom  Day of week  Day  Month  Year  \
88894                                 1            2   13     10  2020
100994                                0            3   14     10  2020
148760                                0            3   14     10  2020
81724                                 1            3   14     10  2020
167595                                0            3   14     10  2020
...                                 ...          ...  ...    ...   ...
115966                                0            3   14     10  2020
78163                                 1            3   14     10  2020
139311                                0            2   13     10  2020
385                                   1            3   14     10  2020
66109                                 0            2   13     10  2020

        Distance from Home  Fraud
88894             0.000000      0
100994            0.000000      1
148760         6170.518087      1
81724             0.000000      0
167595         5811.152979      1
...                    ...    ...
115966            0.000000      1
78163             0.000000      0
139311            0.000000      1
385               0.000000      0
66109             0.000000      0

[60000 rows x 53 columns]

In [51]:
subset

,Transaction ID,Time,Amount,Age,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,Type of Transaction_ATM,...,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Distance from Home,Fraud
88894,3007941,10,383,56.000000,0,1,1,0,0,0,...,0,0,0,1,2,13,10,2020,0.000000,0
100994,3194765,9,27,34.708286,0,0,0,0,0,0,...,0,0,0,0,3,14,10,2020,0.000000,1
148760,3377489,14,15,56.050474,1,0,0,0,1,0,...,0,0,0,0,3,14,10,2020,6170.518087,1
81724,3020708,20,326,37.700000,0,1,1,0,0,0,...,0,0,0,1,3,14,10,2020,0.000000,0
167595,3044911,14,21,37.949881,0,1,1,0,0,0,...,0,0,0,0,3,14,10,2020,5811.152979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115966,3116032,8,10,39.409939,0,0,0,0,1,0,...,0,0,0,0,3,14,10,2020,0.000000,1
78163,2598397,17,177,36.900000,0,1,0,1,0,1,...,0,0,0,1,3,14,10,2020,0.000000,0
139311,2922513,3,21,55.490979,0,0,0,0,1,0,...,0,0,0,0,2,13,10,2020,0.000000,1
385,2833001,23,30,50.400000,1,0,0,0,1,0,...,0,0,0,1,3,14,10,2020,0.000000,0
66109,3429620,23,136,35.400000,1,0,0,1,0,1,...,0,1,0,0,2,13,10,2020,0.000000,0

In [52]:
susbet_distribution = subset['Fraud'].value_counts()

# Print the distribution
print("susbet_distribution")
print(susbet_distribution)

susbet_distribution
Fraud
1    30136
0    29864
Name: count, dtype: int64

In [53]:
subset.to_csv('Subsetdataset.csv')

In [54]:
df_resampled

,Transaction ID,Time,Amount,Age,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,Type of Transaction_ATM,...,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Distance from Home,Fraud
0,3577209,19,5,25.200000,0,1,0,0,1,0,...,0,0,0,1,3,14,10,2020,0.000000,0
1,3039221,17,288,49.600000,1,0,0,1,0,0,...,0,0,1,0,3,14,10,2020,0.000000,0
2,2694780,14,5,42.200000,0,1,0,0,1,0,...,1,0,0,0,3,14,10,2020,0.000000,0
3,2640960,14,28,51.000000,0,1,0,0,1,0,...,1,0,0,0,2,13,10,2020,0.000000,0
4,2771031,23,91,38.000000,0,1,1,0,0,0,...,0,0,1,0,2,13,10,2020,6830.403541,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185565,3518297,16,14,51.588713,0,1,1,0,0,0,...,0,1,0,0,2,13,10,2020,5613.818821,1
185566,3001948,15,17,41.397438,0,1,1,0,0,0,...,0,0,0,0,3,14,10,2020,0.000000,1
185567,3115895,9,14,29.818190,0,1,0,0,0,0,...,0,0,0,0,3,14,10,2020,0.000000,1
185568,3135057,4,123,36.576454,0,0,0,0,0,0,...,0,0,0,0,2,13,10,2020,7690.177163,1
185569,3465409,3,17,19.191961,0,1,0,0,0,0,...,1,0,0,0,2,13,10,2020,7662.650357,1

In [55]:
df_resampled.reset_index(drop=True, inplace=True)

In [56]:
df_resampled

,Transaction ID,Time,Amount,Age,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,Type of Transaction_ATM,...,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Distance from Home,Fraud
0,3577209,19,5,25.200000,0,1,0,0,1,0,...,0,0,0,1,3,14,10,2020,0.000000,0
1,3039221,17,288,49.600000,1,0,0,1,0,0,...,0,0,1,0,3,14,10,2020,0.000000,0
2,2694780,14,5,42.200000,0,1,0,0,1,0,...,1,0,0,0,3,14,10,2020,0.000000,0
3,2640960,14,28,51.000000,0,1,0,0,1,0,...,1,0,0,0,2,13,10,2020,0.000000,0
4,2771031,23,91,38.000000,0,1,1,0,0,0,...,0,0,1,0,2,13,10,2020,6830.403541,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185565,3518297,16,14,51.588713,0,1,1,0,0,0,...,0,1,0,0,2,13,10,2020,5613.818821,1
185566,3001948,15,17,41.397438,0,1,1,0,0,0,...,0,0,0,0,3,14,10,2020,0.000000,1
185567,3115895,9,14,29.818190,0,1,0,0,0,0,...,0,0,0,0,3,14,10,2020,0.000000,1
185568,3135057,4,123,36.576454,0,0,0,0,0,0,...,0,0,0,0,2,13,10,2020,7690.177163,1
185569,3465409,3,17,19.191961,0,1,0,0,0,0,...,1,0,0,0,2,13,10,2020,7662.650357,1

In [57]:
FraudDataset=df_resampled

In [58]:
FraudDataset

,Transaction ID,Time,Amount,Age,Type of Card_MasterCard,Type of Card_Visa,Entry Mode_CVC,Entry Mode_PIN,Entry Mode_Tap,Type of Transaction_ATM,...,Shipping Address_India,Shipping Address_Russia,Shipping Address_USA,Shipping Address_United Kingdom,Day of week,Day,Month,Year,Distance from Home,Fraud
0,3577209,19,5,25.200000,0,1,0,0,1,0,...,0,0,0,1,3,14,10,2020,0.000000,0
1,3039221,17,288,49.600000,1,0,0,1,0,0,...,0,0,1,0,3,14,10,2020,0.000000,0
2,2694780,14,5,42.200000,0,1,0,0,1,0,...,1,0,0,0,3,14,10,2020,0.000000,0
3,2640960,14,28,51.000000,0,1,0,0,1,0,...,1,0,0,0,2,13,10,2020,0.000000,0
4,2771031,23,91,38.000000,0,1,1,0,0,0,...,0,0,1,0,2,13,10,2020,6830.403541,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185565,3518297,16,14,51.588713,0,1,1,0,0,0,...,0,1,0,0,2,13,10,2020,5613.818821,1
185566,3001948,15,17,41.397438,0,1,1,0,0,0,...,0,0,0,0,3,14,10,2020,0.000000,1
185567,3115895,9,14,29.818190,0,1,0,0,0,0,...,0,0,0,0,3,14,10,2020,0.000000,1
185568,3135057,4,123,36.576454,0,0,0,0,0,0,...,0,0,0,0,2,13,10,2020,7690.177163,1
185569,3465409,3,17,19.191961,0,1,0,0,0,0,...,1,0,0,0,2,13,10,2020,7662.650357,1

In [59]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(FraudDataset, FraudDataset['Fraud']):
    strat_train_set = FraudDataset.loc[train_index]
    strat_test_set = FraudDataset.loc[test_index]

In [60]:
 strat_test_set['Fraud'].value_counts()

Fraud
0    18557
1    18557
Name: count, dtype: int64

In [61]:
X_train = strat_train_set.drop("Fraud", axis=1)
Y_train= strat_train_set["Fraud"].copy()

In [62]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Define the pipeline
pipeline = Pipeline([
    ('std_scaler', StandardScaler()),   # Step 1: Standardization
    ('min_max_scaler', MinMaxScaler())  # Step 2: Normalization
])

# Fit and transform the data using the pipeline
X_train_transformed = pipeline.fit_transform(X_train)

# Print the transformed data
print("Transformed Data:")
print(X_train_transformed)

Transformed Data:
[[0.25381498 0.375      0.05063291 ... 0.         0.         0.        ]
 [0.4413798  0.54166667 0.05063291 ... 0.         0.         0.        ]
 [0.46252009 0.41666667 0.41772152 ... 0.         0.         0.87799412]
 ...
 [0.69277581 0.16666667 0.04050633 ... 0.         0.         0.        ]
 [0.41738392 0.66666667 0.75696203 ... 0.         0.         0.87799412]
 [0.34102919 0.33333333 0.06329114 ... 0.         0.         0.87799412]]

In [63]:
X_test = strat_test_set.drop("Fraud", axis=1)
Y_test= strat_test_set["Fraud"].copy()
X_test_transformed = pipeline.fit_transform(X_test)

In [64]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

rf_classifier.fit(X_train_transformed, Y_train)

# Predict on the test data
Y_pred = rf_classifier.predict(X_test_transformed)

# Evaluate the model
accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy:", accuracy)
print("\nClassification Report:")
print(classification_report(Y_test, Y_pred))

Accuracy: 0.991216252627041

Classification Report:
              precision    recall  f1-score   support

           0       0.99      1.00      0.99     18557
           1       1.00      0.99      0.99     18557

    accuracy                           0.99     37114
   macro avg       0.99      0.99      0.99     37114
weighted avg       0.99      0.99      0.99     37114

In [65]:
FraudDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185570 entries, 0 to 185569
Data columns (total 53 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Transaction ID                         185570 non-null  int64
 1   Time                                   185570 non-null  int64
 2   Amount                                 185570 non-null  int64
 3   Age                                    185570 non-null  float64
 4   Type of Card_MasterCard                185570 non-null  int32
 5   Type of Card_Visa                      185570 non-null  int32
 6   Entry Mode_CVC                         185570 non-null  int32
 7   Entry Mode_PIN                         185570 non-null  int32
 8   Entry Mode_Tap                         185570 non-null  int32
 9   Type of Transaction_ATM                185570 non-null  int32
 10  Type of Transaction_Online             185570 non-null  int32
 11  Type of Transaction_POS                185570 non-null  int32
 12  Merchant Group_Children                185570 non-null  int32
 13  Merchant Group_Electronics             185570 non-null  int32
 14  Merchant Group_Entertainment           185570 non-null  int32
 15  Merchant Group_Fashion                 185570 non-null  int32
 16  Merchant Group_Food                    185570 non-null  int32
 17  Merchant Group_Gaming                  185570 non-null  int32
 18  Merchant Group_Products                185570 non-null  int32
 19  Merchant Group_Restaurant              185570 non-null  int32
 20  Merchant Group_Services                185570 non-null  int32
 21  Merchant Group_Subscription            185570 non-null  int32
 22  Country of Transaction_China           185570 non-null  int32
 23  Country of Transaction_India           185570 non-null  int32
 24  Country of Transaction_Russia          185570 non-null  int32
 25  Country of Transaction_USA             185570 non-null  int32
 26  Country of Transaction_United Kingdom  185570 non-null  int32
 27  Country of Residence_China             185570 non-null  int32
 28  Country of Residence_India             185570 non-null  int32
 29  Country of Residence_Russia            185570 non-null  int32
 30  Country of Residence_USA               185570 non-null  int32
 31  Country of Residence_United Kingdom    185570 non-null  int32
 32  Gender_F                               185570 non-null  int32
 33  Gender_M                               185570 non-null  int32
 34  Bank_Barclays                          185570 non-null  int32
 35  Bank_Barlcays                          185570 non-null  int32
 36  Bank_HSBC                              185570 non-null  int32
 37  Bank_Halifax                           185570 non-null  int32
 38  Bank_Lloyds                            185570 non-null  int32
 39  Bank_Metro                             185570 non-null  int32
 40  Bank_Monzo                             185570 non-null  int32
 41  Bank_RBS                               185570 non-null  int32
 42  Shipping Address_China                 185570 non-null  int32
 43  Shipping Address_India                 185570 non-null  int32
 44  Shipping Address_Russia                185570 non-null  int32
 45  Shipping Address_USA                   185570 non-null  int32
 46  Shipping Address_United Kingdom        185570 non-null  int32
 47  Day of week                            185570 non-null  int32
 48  Day                                    185570 non-null  int32
 49  Month                                  185570 non-null  int32
 50  Year                                   185570 non-null  int32
 51  Distance from Home                     185570 non-null  float64
 52  Fraud                                  185570 non-null  int64
dtypes: float64(2), int32(47), int64(4)
memory usage: 41.8 MB

In [70]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
import numpy as np


# Initialize the FNN model
model = Sequential()

# Add input layer
model.add(Dense(units=64, activation='relu', input_dim=X_train_transformed.shape[1]))

# Add hidden layers
model.add(Dense(units=128, activation='relu'))
model.add(Dropout(0.2))  # Optional: Dropout layer for regularization

model.add(Dense(units=64, activation='relu'))

# Add output layer
model.add(Dense(units=1, activation='sigmoid'))  # Sigmoid activation for binary classification

# Compile the model
model.compile(optimizer=Adam(learning_rate=0.001),
              loss='binary_crossentropy',  # Binary cross-entropy for binary classification
              metrics=['accuracy'])

# Train the model
model.fit(X_train_transformed, Y_train, epochs=10, batch_size=32, validation_split=0.2)

# Evaluate the model
loss, accuracy = model.evaluate(X_test_transformed, Y_test)
print(f'Test Accuracy: {accuracy:.4f}')

Epoch 1/10

C:\Users\Developer Mode\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

3712/3712 ━━━━━━━━━━━━━━━━━━━━ 4s 925us/step - accuracy: 0.9652 - loss: 0.0842 - val_accuracy: 0.9846 - val_loss: 0.0385
Epoch 2/10
3712/3712 ━━━━━━━━━━━━━━━━━━━━ 3s 818us/step - accuracy: 0.9841 - loss: 0.0395 - val_accuracy: 0.9865 - val_loss: 0.0331
Epoch 3/10
3712/3712 ━━━━━━━━━━━━━━━━━━━━ 3s 805us/step - accuracy: 0.9871 - loss: 0.0336 - val_accuracy: 0.9881 - val_loss: 0.0313
Epoch 4/10
3712/3712 ━━━━━━━━━━━━━━━━━━━━ 3s 819us/step - accuracy: 0.9882 - loss: 0.0312 - val_accuracy: 0.9897 - val_loss: 0.0286
Epoch 5/10
3712/3712 ━━━━━━━━━━━━━━━━━━━━ 3s 868us/step - accuracy: 0.9896 - loss: 0.0275 - val_accuracy: 0.9904 - val_loss: 0.0269
Epoch 6/10
3712/3712 ━━━━━━━━━━━━━━━━━━━━ 3s 817us/step - accuracy: 0.9899 - loss: 0.0264 - val_accuracy: 0.9905 - val_loss: 0.0273
Epoch 7/10
3712/3712 ━━━━━━━━━━━━━━━━━━━━ 3s 837us/step - accuracy: 0.9907 - loss: 0.0253 - val_accuracy: 0.9913 - val_loss: 0.0256
Epoch 8/10
3712/3712 ━━━━━━━━━━━━━━━━━━━━ 3s 839us/step - accuracy: 0.9910 - loss: 0.0244 - val_accuracy: 0.9911 - val_loss: 0.0258
Epoch 9/10
3712/3712 ━━━━━━━━━━━━━━━━━━━━ 3s 868us/step - accuracy: 0.9917 - loss: 0.0234 - val_accuracy: 0.9896 - val_loss: 0.0303
Epoch 10/10
3712/3712 ━━━━━━━━━━━━━━━━━━━━ 3s 823us/step - accuracy: 0.9917 - loss: 0.0228 - val_accuracy: 0.9908 - val_loss: 0.0264
1160/1160 ━━━━━━━━━━━━━━━━━━━━ 1s 488us/step - accuracy: 0.9904 - loss: 0.0260
Test Accuracy: 0.9903

In [67]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()

log_reg.fit(X_train_transformed, Y_train)

# Predict on the test data
Y_pred = log_reg.predict(X_test_transformed)

# Evaluate the model
accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy:", accuracy)
print("\nClassification Report:")
print(classification_report(Y_test, Y_pred))

Accuracy: 0.9829444414506655

Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.99      0.98     18557
           1       0.99      0.97      0.98     18557

    accuracy                           0.98     37114
   macro avg       0.98      0.98      0.98     37114
weighted avg       0.98      0.98      0.98     37114

In [69]:
import xgboost as xgb
from sklearn.metrics import accuracy_score, classification_report

xgb_clf = xgb.XGBClassifier(objective='binary:logistic', colsample_bytree=0.3, learning_rate=0.1,
                            max_depth=5, alpha=10, n_estimators=10)


# Fit the model
xgb_clf.fit(X_train_transformed, Y_train)

# Predict on the test data
Y_pred = xgb_clf.predict(X_test_transformed)

# Evaluate the model
accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy:", accuracy)
print("\nClassification Report:")
print(classification_report(Y_test, Y_pred))

Accuracy: 0.962925041763216

Classification Report:
              precision    recall  f1-score   support

           0       0.97      0.96      0.96     18557
           1       0.96      0.97      0.96     18557

    accuracy                           0.96     37114
   macro avg       0.96      0.96      0.96     37114
weighted avg       0.96      0.96      0.96     37114

In [71]:
from joblib import dump, load
# Save model
dump(model, 'model.joblib')

['model.joblib']